@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
}

.box1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #e38826;
  text-align: left;
  padding: 3rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #006970;
  text-align: left;
  padding: 3rem;
}

.box3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #004241;
  text-align: left;
  padding: 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box1 h1,
.box2 h1,
.box3 h1 {
  color: white;
  font-family: "Big Shoulders Display", cursive;
  margin: 2rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.box1 p,
.box2 p,
.box3 p {
  color: rgba(255, 255, 255, 0.75);
  margin: 2rem 0 4rem 0;
}

.box1 button {
  border: none;
  background: white;
  color: #e38826;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

.box1 button:hover {
  border: 2px solid white;
  background: #e38826;
  color: white;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

.box2 button {
  border: none;
  background: white;
  color: hhsl(184, 100%, 22%);
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

.box2 button:hover {
  border: 2px solid white;
  background: #006970;
  color: white;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

.box3 button {
  border: none;
  background: white;
  color: #004241;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

.box3 button:hover {
  border: 2px solid white;
  background: #004241;
  color: white;
  padding: 1rem 2rem;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */